kaggle
huggingface_hub
gradio
torch
torchvision
torchaudio
transformers
sentence-transformers
tf-keras
librosa
numpy
scikit-learn
openai-whisper
laion-clap
open_clip_torch
retina-face
timm
opencv-python-headless
groq
requests
Pillow
av
noisereduce